@media screen and (max-width: 768px){
  .lineblog{
    padding: 15px;
  }
}
@media screen and (min-width: 769px){
  .lineblog{
    width: 800px;
    padding: 20px;
  }
}
.lineblog {
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 #d9d9d9;
  &-banner {
    width: 100%;
    height: 400px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-slogen {
    margin: 10px 0 40px;
    font-size: 16px;
    color: #333;
    text-align: center;
    font-family: "KaiTi", "STKaiti", "STZhongsong", "STXingkai";
  }
  &-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    min-height: 90px;
    padding: 10px;
    margin-bottom: 40px;
    background-color: #f8f8f8;
    &-info {
      position: relative;
      width: 80px;
      // top: 0;
      // left: 20px;
      padding: 15px 0 5px;
      margin-right: 20px;
      margin-left: 10px;
      text-align: center;
      border: 1px dashed #d5d5d5;
      border-top: 1px solid #c9c9c9;
      background-color: #fff;
      box-shadow: 0 2px 2px 0 #c9c9c9;
      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 5px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: #999;
      }
      &::before {
        left: 10px;
      }
      &::after {
        right: 10px;
      }
    }
    &-month {
      color: #666;
      font-size: 18px;
    }
    &-date {
      color: #999;
      font-size: 36px;
      line-height: 1.2em;
    }
    &-content {
      flex: 1;
      display: flex;
      padding: 5px 0;
      flex-direction: column;
      justify-content: space-between;
    }
    &-text {
      min-height: 40px;
      margin-bottom: 20px;
    }
    &-options {
      opacity: 0.7;
      color: #666;
      span {
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
        font-size: 12px;
        letter-spacing: 2px;
        cursor: pointer;
        .iconfont{
          font-size: 18px;
          line-height: 1;
        }
        .icon-like{
          color: #999;
          transition: all ease .3s;
          &:hover{
            color: #15b7ec;
            transform: scale(1.5);
          }
        }
        
      }
    }
  }
  .loadMore{
    padding: 0 0 5px;
    font-size: 14px;
    text-align: center;
    color: #999;
    transition: all ease .3s;
    cursor: pointer;
    &:hover{
      color: #333;
    }
    .icon-loading{
      display: inline-block;
      line-height: 1;
      animation:loading linear infinite 1s;
      margin-right: 5px;
    }
  }
  .finished{
    font-size: 14px;
    padding: 0 0 5px;
    text-align: center;
    color: #999;
    transition: all ease .3s;
  }
  
}


@keyframes loading{
  0%{
    opacity: 1;
    transform: rotate(0);
  }
  50%{
    opacity: .5;
    transform: rotate(180deg);
  }
  100%{
    opacity: 1;
    transform: rotate(360deg);
  }
}