/**
 * scss工具
 *
 * created by leelei on 2020-01-16
 */

// $themeColor: #4695ff;
$themeColor: #1E66FC;
$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;
// $fontColor: #333333;
$fontColor: #314659;

//定位上下左右居中
// @mixin center {
//   position: absolute;
//   top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }
