@media screen and (max-width: 768px) {
  .searchbar{
    display: none !important;
  }
}
.searchbar{
  display: flex;
  border: 1px solid #c9c9c9;
  border-radius: 100px;
  padding: 6px;
  transition: all ease .5s;
  input{
    flex: 1;
    border: 0;
    padding:0 5px ;
    font-size: 13px;
    background-color: transparent;
    &:focus ~ .iconfont{
      color: #17aaee;
    }
  }
  .icon-search{
    font-size: 18px;
    color: #d9d9d9;
    cursor: pointer;
    transition:  all ease .5s;
  }
}