.tags{
  border: 1px solid #e5e5e5;
  border-top: 2px solid #17aaee;
  padding: 0 10px;
  &-title{
    padding: 10px 5px;
    border-bottom: 1px solid #b2bac226;
  }
  &-content{
    display: flex;
    flex-wrap: wrap;
  }
  &-item{
    font-size: 14px;
    color: #333;
    width: 80px;
    padding: 5px;
    margin: 10px 6px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    background-color: #f3f6f3;
    transition:  all ease .3s;
    cursor: pointer;
    &--act{
      color: #fff;
      background-color: #0bb6eb;
    }
    &:hover{
      color: #fff;
      background-color: #0bb6eb;
    }
  }
}